{% extends "layout.html" %}

{% block content %}

    <div class="well">
        <h1>The BRWRY System:</h1>
        <p>The BRWRY Project's goal is to bring open-source homebrew automation to the masses.</p>
        <p><a class="btn btn-primary" href="http://brwry.com">Check it out on BRWRY.com &raquo;</a></p>
    </div>

    <p>A big thanks to all the people that worked on all of these projects that contributed to or inspired the BRWRY System:</p>

    <div class="row">
        <div class="col-lg-4">
            <h2>Raspberry Pi</h2>

            <p>The Raspberry Pi is a capable credit-card sized computer.</p>

            <p><a class="btn" href="http://www.raspberrypi.org/">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <h2>Flask</h2>

            <p>Flask is a microframework for Python based on Werkzeug, Jinja 2 and good intentions. And before you ask: It's BSD licensed!</p>

            <p><a class="btn" href="http://flask.pocoo.org">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <h2>jQuery</h2>

            <p>jQuery is a fast, small, and feature-rich JavaScript library.</p>

            <p><a class="btn" href="http://jquery.com/">View details &raquo;</a></p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <h2>Bootstrap</h2>

            <p>Bootstrap is a beautiful CSS framework with an optional JavaScript add-on.</p>

            <p><a class="btn" href="http://twitter.github.com/bootstrap/">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <h2>Rickshaw</h2>

            <p>Rickshaw is a JavaScript toolkit for creating interactive time series graphs.</p>

            <p><a class="btn" href="http://code.shutterstock.com/rickshaw/">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
        </div>
    </div>    

{% endblock %}