<!DOCTYPE html>
<title>BRWRY</title>
<head>
    <meta charset="utf-8">
    <title>BRWRY System</title>
    <meta name="description" content="">
    <meta name="author" content="Matthew Martz">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
    <script type=text/javascript src="{{
  url_for('static', filename='jquery-1.10.2.min.js') }}"></script>
  <script type=text/javascript src="{{
  url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
</head>
<body>
<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">BRWRY</a>
            <ul class="nav">
            	<div class="span2"><button id="live_time" class="btn btn-block btn-inverse"></button></div>
                <li><a href="{{ url_for('brwry_main') }}" class="">Home</a></li>
                <li><a href="{{ url_for('brwry_about') }}" class="">About</a></li>
                <li><a href="{{ url_for('brwry_config') }}" class="">Configure</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Recipes<b class="caret"></b></a>
                    <ul class="dropdown-menu" id="recipe-dropdown">
                    	<li><a href="" class=""></a>New Recipe</li>
                    	<li><a href="" class=""></a>Calculator</li>
                    	<li><a href="" class=""></a>Old Recipes</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Archived<b class="caret"></b></a>
                    <ul class="dropdown-menu" id="archive-dropdown"></ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="span1"><input id="target_temp" type="text" class="input-small" placeholder="Target"></div>
        <div id="live_temps" class="span8"></div>
        <div class="span2"><button id="EMER_OFF" class="btn btn-block btn-danger" type="button">EMERGENCY OFF</button></div>
    </div>

	{% block content %}Empty page{% endblock %}
<script type="text/javascript">
$(function () {
    // Setup drop down menu
    $('.dropdown-toggle').dropdown();
    // Fix input element click problem
    $('.dropdown input, .dropdown label').click(function(e) {
        e.stopPropagation();
    });

    $(document).ready(function(){

        $("#EMER_OFF").click(function() {
          $.get("{{ url_for('allOff') }}");
        });

        var config_heats = {};
        var config_pumps = {};
        var config_sensors = {};
        
        var sensorList = [];
        var heatList = [];
        var pumpList = [];

        function loadConfig(data) {
            config_sensors = data.sensor;
            config_heats = data.heat;
            config_pumps = data.pump;

            var heatpump = [];
            var temps = [];
            var sensID="";
            var heatID="";
            var pumpID="";

            //Setup the UI
            $.each(config_sensors, function(key,sensor) {
                sensID="sensID-"+sensor['sensorName'].replace(' ','');
                sensorList.push(sensID);
                heatpump = [];
                $.each(config_heats, function(index,value) {
                    $.each(value['sensors'], function(ind,sens) {
                        if (sens==sensor['sensorName']) {
                            heatpump.push('<li><a class="addTarget" href="#" sensor="'+sens+'" device="'+value['deviceName']+'">Target '+value['deviceName']+'</a></li>');
                        };
                    });
                });
                $.each(config_pumps, function(index,value) {
                    $.each(value['sensors'], function(ind,sens) {
                        if (sens==sensor['sensorName']) {
                            heatpump.push('<li><a class="addTarget" href="#" sensor="'+sens+'" device="'+value['deviceName']+'">Target '+value['deviceName']+'</a></li>');
                        };
                    });
                });
                temps.push('<div class="btn-group span1"><button class="btn btn-block dropdown-toggle" title="' + sensor['sensorName'] + '" data-toggle="dropdown"><span id="'+sensID+'"></span><span class="caret"></button><ul class="dropdown-menu"><li>'+sensor['sensorName']+'</li><li class="divider"></li>'+heatpump.join('')+'</ul></div></div>');
            });
            
            //var targetsens = [];
            $.each(config_heats, function(key,device) {
                heatID="heatID-"+device['deviceName'].replace(' ','');
                heatList.push(heatID);
/*                
                $.each(device['sensors'], function(index,sens) {
                    var tarID=device['deviceName'].replace(' ','')+'-'+sens.replace(' ','');
                    targetsens.push('<li><a id="'+tarID+'" class="removeTarget" device="'+device['deviceName']+'" sensor="'+sens+'" disabled>Remove '+sens+'</a></li>');
                });
*/
                temps.push('<div class="btn-group span1"><button id="'+heatID+'" class="btn btn-block dropdown-toggle" title="' + device['deviceName'] + '" data-toggle="dropdown"><span class="caret"></button><ul class="dropdown-menu"><li>'+device['deviceName']+'</li><li class="divider"></li><li><a class="deviceonoff" command="OFF" value="'+device['deviceName']+'" href="#">Off</a></li><li><a class="deviceonoff" command="ON" value="'+device['deviceName']+'" href="#">On</a></li></ul></div>');
            });

            //targetsens = [];
            $.each(config_pumps, function(key,device) {
                pumpID="pumpID-"+device['deviceName'].replace(' ','');
                pumpList.push(pumpID);
/*
                $.each(device['sensors'], function(index,sens) {
                    var tarID=device['deviceName'].replace(' ','')+'-'+sens.replace(' ','');
                    targetsens.push('<li><a id="'+tarID+'" class="removeTarget" device="'+device['deviceName']+'" sensor="'+sens+'" disabled>Remove '+sens+'</a></li>');
                });
*/
                temps.push('<div class="btn-group span1"><button id="'+pumpID+'" class="btn btn-block dropdown-toggle" title="' + device['deviceName'] + '" data-toggle="dropdown"><span class="caret"></button><ul class="dropdown-menu"><li>'+device['deviceName']+'</li><li class="divider"></li><li><a class="deviceonoff" command="OFF" value="'+device['deviceName']+'" href="#">Off</a></li><li><a class="deviceonoff" command="ON" value="'+device['deviceName']+'" href="#">On</a></li></ul></div>');
            });

            $('#live_temps').html(temps.join(''));


            //UI Functions
            $("a.addTarget").click(function() {
                var deviceName = event.target.getAttribute('device');
                var tarSens = event.target.getAttribute('sensor');
                var tarTemp = $("#target_temp").val();
                $.ajax({
                    type: 'POST',
                    url:"{{ url_for('addTarget') }}",
                    data: JSON.stringify({device:deviceName,sensor:tarSens,target:tarTemp}),
                    success: function(data){
                        var tarID='#'+deviceName.replace(' ','')+'-'+tarSens.replace(' ','');
                        $(tarID).removeAttr('disabled');
                        fetchLiveData();
                    },
                    contentType: "application/json",
                    dataType: 'json'
                });
            });
/*
            $("a.removeTarget").click(function() {
                var deviceName = event.target.getAttribute('device');
                var tarSens = event.target.getAttribute('sensor');
                $.ajax({
                    type: 'POST',
                    url:"{{ url_for('removeTarget') }}",
                    data: JSON.stringify({device:deviceName,sensor:tarSens}),
                    success: function(data){
                        var tarID='#'+deviceName.replace(' ','')+'-'+tarSens.replace(' ','');
                        $(tarID).attr('disabled','disabled');
                        fetchLiveData();
                    },
                    contentType: "application/json",
                    dataType: 'json'
                });
            });
*/

            $("a.deviceonoff").click(function() {
                var deviceName = event.target.getAttribute('value');
                var onOff = event.target.getAttribute('command');
                $.ajax({
                    type: 'POST',
                    url:"{{ url_for('deviceOnOff') }}",
                    data: JSON.stringify({deviceName:deviceName,onOff:onOff}),
                    success: function(data){
                        fetchLiveData();
                    },
                    contentType: "application/json",
                    dataType: 'json'
                });
            });
        }

        $.getJSON("{{ url_for('configRequest') }}",loadConfig);

        function fetchLiveData() {
            function updateTemp(data) {
                var temps = [];

                $.each(data.result, function(key, val) {
                    if (key=="timestamp") {
                        var myDate = new Date(val*1000);
                        $('#live_time').text(myDate.toLocaleTimeString());
                    } else {
                        var sensID = "#sensID-"+key.replace(' ','');
                        $(sensID).text(val);
                    };
                });

                var deviceactive = "btn btn-block dropdown-toggle";
                var devonoff = "off";
                $.each(data.heat, function(key, val) {
                    deviceactive = "btn btn-block dropdown-toggle";
                    devonoff = "off";
                    if (val == 1) {
                        devonoff = "on";
                    };

                    $.each(data.targets, function(ind, tar) {
                        if (key == tar['device']) {
                            devonoff = tar['target'];
                            deviceactive = "btn btn-block dropdown-toggle btn-warning";
                            var tarID='#'+tar['device'].replace(' ','')+'-'+tar['sensor'].replace(' ','');
                            $(tarID).removeAttr('disabled');
                        };
                    });

                    if (val == 1) {
                        deviceactive = "btn btn-block dropdown-toggle btn-danger";
                    };

                    var heatID = "#heatID-"+key.replace(' ','');
                    $(heatID).html(devonoff + '<span class="caret">');
                    $(heatID).attr('class',deviceactive)

                });

                deviceactive = "btn btn-block dropdown-toggle";
                devonoff = "off";
                $.each(data.pump, function(key, val) {
                    deviceactive = "btn btn-block dropdown-toggle";
                    devonoff = "off";
                    if (val == 1) {
                        devonoff = "on";
                    };

                    $.each(data.targets, function(ind, tar) {
                        if (key == tar['device']) {
                            devonoff = tar['target'];
                            deviceactive = "btn btn-block dropdown-toggle btn-info";
                            var tarID='#'+tar['device'].replace(' ','')+'-'+tar['sensor'].replace(' ','');
                            $(tarID).removeAttr('disabled');
                        };
                    });

                    if (val == 1) {
                        deviceactive = "btn btn-block dropdown-toggle btn-primary";
                    };

                    var pumpID = "#pumpID-"+key.replace(' ','');
                    $(pumpID).html(devonoff + '<span class="caret">');
                    $(pumpID).attr('class',deviceactive)

                });

                
            };
            $.getJSON("{{ url_for('liveTempRequest') }}",updateTemp);
            setTimeout(fetchLiveData, 2000);
        };
        fetchLiveData();
    });
});
</script>

    <footer class="row">
        <div class="span6">
            <p>This is a <a href="http://brwry.com">BRWRY System</a>.</p>
        </div>
        <div class="span6" style="text-align:right">
            <p>
                &copy; <a href="http://twitter.com/martz">Matthew Martz</a> 2012
                |
                <a href="">license</a>
            </p>
        </div>
    </footer>

</div> <!-- container -->

</body>
</html>
