<!DOCTYPE html>
<title>BRWRY</title>
<head>
    <meta charset="utf-8">
    <title>BRWRY System</title>
    <meta name="description" content="">
    <meta name="author" content="Matthew Martz">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
    <script type=text/javascript src="{{
  url_for('static', filename='jquery-1.10.2.min.js') }}"></script>
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">BRWRY</a>
            <ul class="nav">
            	<li><a href="{{ url_for('brwry_main') }}" class="">Home</a></li>
                <li><a href="{{ url_for('brwry_about') }}" class="">About</a></li>
                <li><a href="{{ url_for('brwry_config') }}" class="">Configure</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Recipes<b class="caret"></b></a>
                    <ul class="dropdown-menu" id="recipe-dropdown">
                    	<li><a href="" class=""></a>New Recipe</li>
                    	<li><a href="" class=""></a>Calculator</li>
                    	<li><a href="" class=""></a>Old Recipes</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Archived<b class="caret"></b></a>
                    <ul class="dropdown-menu" id="archive-dropdown"></ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
	<p><hr></p>
	
    <p><hr></p>

	<div class="row">
        <div id="live_time" class="span2"></div>
        <div id="live_temps" class="span10"></div>
    </div>

	{% block content %}Empty page{% endblock %}

    <p><hr></p>

<script type="text/javascript">
$(function () {
    $(document).ready(function(){
        function fetchLiveData() {
            function updateTemp(data) {
                var temps = [];
                $.each(data.result, function(key, val) {
                    if (key=="timestamp")
                    {
                        var myDate = new Date(val*1000);
                        $('#live_time').text(myDate.toLocaleTimeString());
                    } else {
                        temps.push('<div class="span2">' + key + '- ' + val + '</div>');
                    }
                });

                $('#live_temps').html(temps.join(''));
            }
            $.getJSON("{{ url_for('liveTempRequest') }}",updateTemp);
            setTimeout(fetchLiveData, 500);
        }
        setTimeout(fetchLiveData, 500);
    });
});
</script>

    <footer class="row">
        <div class="span6">
            <p>This is a <a href="http://brwry.com">BRWRY System</a>.</p>
        </div>
        <div class="span6" style="text-align:right">
            <p>
                &copy; <a href="http://twitter.com/martz">Matthew Martz</a> 2012
                |
                <a href="">license</a>
            </p>
        </div>
    </footer>

</div> <!-- container -->

</body>
</html>
