{% extends "layout.html" %}
{% block content %}

<link type="text/css" rel="stylesheet" href="{{
  url_for('static', filename='rickshaw-master/rickshaw.css') }}"></script>
<script type=text/javascript src="{{
  url_for('static', filename='rickshaw-master/vendor/d3.v2.js') }}"></script>
<script type=text/javascript src="{{
  url_for('static', filename='rickshaw-master/vendor/d3.layout.min.js') }}"></script>
<script type=text/javascript src="{{
  url_for('static', filename='rickshaw-master/rickshaw.js') }}"></script>

<div class="row">
	<div class="span8"></div>
	<div class="span4">
		<div class="row">
			<div class="span1"><button id="startbtn" class="btn btn-block btn-success">Start</button></div>
			<div class="span1"><button id="resumebtn" class="btn btn-block btn-info">Resume</button></div>
			<div class="span1"><button id="pausebtn" class="btn btn-block btn-warning">Pause</button></div>
			<div class="span1"><button id="endbtn" class="btn btn-block btn-danger">End</button></div>
		</div>
	</div>
</div>

<div class="row">
	<div class="span8">
		<div id="chart"></div>
	</div>
	<div class="span4">
		<div class="row">
			<ul id="mainTab" class="nav nav-tabs">
				<li class="active"><a href="#brw" data-toggle="tab">BRW</a></li>
				<li><a href="#notes" data-toggle="tab">Notes</a></li>
				<li><a href="#twt" data-toggle="tab">TWT</a></li>
			</ul>
			<div id="mainTabContent" class="tab-content">
				<div class="tab-pane fade in active" id="brw">
					<input id="brwNameIn" type="text" class="span2" placeholder="Brew Name">
					<input id="brwrIn" type="text" class="span2" placeholder="Brewer">
					<p id="brwNameOut"></p>
					<p id="brwrOut"></p>
					<p id="brwDateOut"></p>
					<div id="legend_container"><div id="legend"></div></div>
				</div>
				<div class="tab-pane fade" id="notes">
					<p>Will allow manual entry of notes and viewing of annotations/instructions at some point</p>
				</div>
				<div class="tab-pane fade" id="twt">
					<p>Will show twitter feed at some point</p>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
$(function () {
	$(document).ready(function(){
		$('#mainTab a').click(function(e) {
			e.preventDefault();
			$(this).tab('show');
		});
		$("#endbtn").hide();
		$("#pausebtn").hide();
		$("#resumebtn").hide();

        function existingBrw(data) {
            brwName = data.brwName;
            brwr = data.brwr;
            brwDate = data.brwDate;
            paused = data.paused;

            if (brwName != "") {
				$("#startbtn").hide();
				$("#endbtn").show();
				if (paused == "False") {
					$("#pausebtn").show();
					$("#resumebtn").hide();
				} else {
					$("#pausebtn").hide();
					$("#resumebtn").show();
				};
				$("#brwNameIn").hide();
				$("#brwrIn").hide();
				$("#brwNameOut").text(brwName);
	    		$("#brwNameOut").show();
			    $("#brwrOut").text(brwr);
			    $("#brwrOut").show();
			    var myDate = new Date(parseInt(brwDate)*1000);
			    $("#brwDateOut").text(myDate.toLocaleDateString());
			    $("#brwDateOut").show();
            };

        }

        $.getJSON("{{ url_for('existingBrw') }}",existingBrw);

		$("#startbtn").click(function() {
			brwName=$("#brwNameIn").val();
			brwr=$("#brwrIn").val();
			$("#startbtn").hide();
			$("#endbtn").show();
			$("#pausebtn").show();
			$("#brwNameIn").hide();
			$("#brwrIn").hide();

			$.ajax({
				type: 'POST',
				url:"{{ url_for('startBrw') }}",
				data: JSON.stringify({brwName:brwName,"brwr":brwr}),
				success: function(data){
		    //show and fill brwName, brwr, and brwDate fields
		    		$("#brwNameOut").text(brwName);
		    		$("#brwNameOut").show();
				    $("#brwrOut").text(brwr);
				    $("#brwrOut").show();
				    var myDate = new Date(data.result['brwDate']*1000);
				    $("#brwDateOut").text(myDate.toLocaleDateString());
				    $("#brwDateOut").show();
				},
				contentType: "application/json",
				dataType: 'json'
			});
		});
		$("#endbtn").click(function() {
			$("#brwNameOut").hide();
			$("#brwrOut").hide();
			$("#brwDateOut").hide();
			$("#startbtn").show();
			$("#endbtn").hide();
			$("#pausebtn").hide();
			$("#resumebtn").hide();
			$("#brwNameIn").show();
			$("#brwrIn").show();

			$.get("{{ url_for('endBrw') }}");
		});
		$("#pausebtn").click(function() {
			$("#pausebtn").hide();
			$("#resumebtn").show();
			$.get("{{ url_for('pauseBrw') }}");
		});
		$("#resumebtn").click(function() {
			$("#resumebtn").hide();
			$("#pausebtn").show();

			$.get("{{ url_for('resumeBrw') }}");
		});

				var graph = new Rickshaw.Graph.Ajax( {
		        element: document.querySelector("#chart"),
		        height: 300,
		        max: 215,
		        renderer: 'scatterplot',
		        dataURL: "{{ url_for('chartRequest') }}",
		        onData: function(d) {
		        	var palette = new Rickshaw.Color.Palette();
		        	var dataseries = [];
		        	$.each(d.live, function(key,val) {
						val['color'] = palette.color();
						dataseries.push(val);
					});
					$.each(d.arch, function(key,val) {
						val['color'] = palette.color();
						val['name'] = val['name'].concat('-archive');
						if (val['type'] == 'sensor') {
							dataseries.push(val);
						};
					});
		        	return dataseries
		        },
		        onComplete: function(transport) {
		        	var graph = transport.graph;
		        	var detail = new Rickshaw.Graph.HoverDetail({graph:graph});

		        	var x_axis = new Rickshaw.Graph.Axis.Time( {
		        		graph: graph,
		        	} );
					var y_axis = new Rickshaw.Graph.Axis.Y( {
					    graph: graph
					} );
		        }
		    	} );

		function fetchChartData(){
			graph.request();
			setTimeout(fetchChartData, 5000);
		};
        fetchChartData();
	});
});
</script>
{% endblock %}